<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.webkist.android.DarkroomTimer" android:versionCode="1"
	android:versionName="1.0">
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<application android:label="@string/app_name"
		android:theme="@style/DarkroomTheme" android:icon="@drawable/darkroomtimer">
		<activity android:name=".TimerPicker" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"></action>
			</intent-filter>
		</activity>
		<activity android:name=".PresetEditor" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.EDIT"></action>
			</intent-filter>
		</activity>
		<activity android:name=".DarkroomTimer" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<provider android:name="DarkroomPresetProvider"
			android:authorities="com.webkist.android.DarkroomTimer"></provider>
	</application>
	<uses-sdk android:minSdkVersion="3" />

</manifest> 