<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.webkist.android.DarkroomTimer" android:versionCode="3"
	android:versionName="1.2">
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<application android:label="@string/app_name"
		android:theme="@style/DarkroomTheme" android:icon="@drawable/darkroomtimer">
		
		<activity android:name=".TimerPicker" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.webkist.preset" />				
            </intent-filter>			
		</activity>
		
		<activity android:name=".PresetEditor" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.EDIT" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity android:name=".DarkroomTimer" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.webkist.preset" />
			</intent-filter>
		</activity>
		
		<activity
			android:name=".EditPreferences"
			android:label="@string/app_name">
		</activity>
		
		<activity android:name=".LauncherShortcuts"
                  android:label="@string/shortcuts">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity-alias android:name=".LiveFolder"
        		  android:targetActivity=".LauncherShortcuts"
 				  android:label="Darkroom Timer Presets">
    		<intent-filter>     
        		<action android:name="android.intent.action.CREATE_LIVE_FOLDER" />
        		<category android:name="android.intent.category.DEFAULT" />
    		</intent-filter>
		</activity-alias>

		<provider android:name="DarkroomPresetProvider"
			android:authorities="com.webkist.android.DarkroomTimer"></provider>
	</application>
	<uses-sdk android:minSdkVersion="3" />

</manifest> 
